/* --- start of CSS reset --- */* {  margin: 0;  padding: 0;  border: 0;  outline: none;  box-sizing: border-box;  background: transparent;  font-family: inherit;}a {  text-decoration: none;}a img {  border: none;}button,a {  cursor: pointer;  color: inherit;}textarea {  resize: none;}button,textarea,select {  appearance: none !important;  border-radius: 0;}/* --- end of CSS reset --- */

#root {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    background-color: black;
    color: white;
    grid-auto-rows: 10vw;
    grid-auto-columns: 10vh;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;
}
